.o_notification_manager {
    .o_notification.ikn_danger {
        >.toast-header {
            padding: 0.4rem;
        }
        >.toast-body {
            padding: 0.8rem;
        }
    }
    .o_notification.ikn_warning {
        >.toast-header {
            padding: 0.4rem;
        }
        >.toast-body {
            padding: 0.8rem;
        }
    }
    .o_notification.ikn_success {
        >.toast-header {
            padding: 0.4rem;
        }
        >.toast-body {
            padding: 0.8rem;
        }
    }
    .o_notification.ikn_info {
        >.toast-header {
            padding: 0.4rem;
        }
        >.toast-body {
            padding: 0.8rem;
        }
    }
}
